<!-- top -->
<style type="text/css">
    .ad_top { width: 0; height: 0; }
    @media (min-width:500px) { .ad_top { width: 100%; height: 120px; } }
    @media (min-width:800px) { .ad_top { width: 100%; height: 150px; } }
</style>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- example_responsive_1 -->
<ins class="adsbygoogle ad_top"
     style="display:inline-block"
     data-ad-client="ca-pub-3775167311633597"
     data-ad-slot="1447775780"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>